<a [routerLink]="['add']">Add</a>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="increment">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let inventory; let i = index">{{i + 1}}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let inventory">{{inventory.quantity | number: '1.0-2'}} {{ inventory.uom_abbreviation }}</td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Brand</th>
    <td mat-cell *matCellDef="let inventory">{{inventory.brand_name}}</td>
  </ng-container>
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let inventory">{{inventory.catalog_description}}</td>
  </ng-container>
  <ng-container matColumnDef="purchase_date">
    <th mat-header-cell *matHeaderCellDef>Purchase date</th>
    <td mat-cell *matCellDef="let inventory">{{inventory.purchase_date | date:'dd/MM/yyyy':'UTC'}}</td>
  </ng-container>
  <ng-container matColumnDef="expiration_date">
    <th mat-header-cell *matHeaderCellDef>Expiration date</th>
    <td mat-cell *matCellDef="let inventory" [style.color]="isExpirated(inventory) ? 'red' : null">{{inventory.expiration_date | date:'dd/MM/yyyy':'UTC'}}</td>
  </ng-container>
  <ng-container matColumnDef="status_icon">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let inventory">
      <span *ngFor="let status of inventory.product_status">
        <mat-icon class="mat-18" *ngIf="status.pivot.is_active && status.id === 2" title="{{status.description}}" style="color: #ff8f00;">warning</mat-icon>
        <mat-icon class="mat-18" *ngIf="status.pivot.is_active && status.id === 1" title="{{status.description}}" style="color: green;">check_box</mat-icon>
        <mat-icon class="mat-18" *ngIf="status.pivot.is_active && status.id === 3" title="{{status.description}}" style="color: red;">flag</mat-icon>
        <mat-icon class="mat-18" *ngIf="status.pivot.is_active && status.id === 6" title="{{status.description}}" style="color: black;">help</mat-icon>
      </span>
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
