<a [routerLink]="'/users'">Back</a>
<br>
<a (click)="add()">Add</a>
<form [formGroup]="personHouseForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let housePerson of housesByPerson; let i = index">
    <div>
      <label for="{{'house[' + i + '][id]'}}">
        House
      </label>
      <mat-select formControlName="{{'house[' + i + '][id]'}}" id="{{'house[' + i + '][id]'}}">
        <mat-option *ngFor="let house of houses" [value]="house.id">
          {{house.description}}
        </mat-option>
      </mat-select>
    </div>
    <div>
      <mat-checkbox formControlName="{{'house[' + i + '][is_default]'}}" id="{{'house[' + i + '][is_default]'}}" value="true" (click)="isDefaultOnClick($event)">Is default?</mat-checkbox>
    </div>
    <div>
      <a (click)="remove(i)">Remove</a>
    </div>
  </div>
  <div>
    <button class="button" type="submit">Update</button>
  </div>
</form>
