<a [routerLink]="'/users'">Back</a>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="person_id">
      Person
    </label>
    <mat-select id="person_id" placeholder="Select a person" formControlName="person_id">
        <mat-option *ngFor="let person of persons" [value]="person.id">
          {{person.name + ' ' + person.lastname}}
        </mat-option>
    </mat-select>
  </div>
  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email">
  </div>
  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div>
    <button class="button" type="submit">Register</button>
  </div>
</form>
