<a [routerLink]="'/persons'">Back</a>
<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let nutritionalRestriction of nutritionalRestrictions">
    <label for="{{nutritionalRestriction.description}}">
      {{nutritionalRestriction.description}}
    </label>
    <input id="{{nutritionalRestriction.description}}" type="checkbox" formControlName="nutritionalProfile[{{nutritionalRestriction.id}}]">
  </div>
  <div>
    <button class="button" type="submit">Register</button>
  </div>
</form>
