<a [routerLink]="'/users'">Back</a>
<form [formGroup]="personHouseForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="house">
      House
    </label>
    <mat-select formControlName="house_id" name="house_id" id="house_id">
      <mat-option *ngFor="let house of houses" [value]="house.id">
        {{house.description}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    <mat-checkbox formControlName="is_default" value="true">Is default?</mat-checkbox>
  </div>
  <div>
    <button class="button" type="submit">Register</button>
  </div>
</form>
