<a [routerLink]="['add']">Add</a>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef> Profile </th>
    <td mat-cell *matCellDef="let user">
      <div *ngIf="user.user_profile != null">
        Date of Birth: {{user.user_profile.date_of_birth}} |
        Is Vegetarian?: {{user.user_profile.is_vegetarian}} |
        Is Vegan?: {{user.user_profile.is_vegan}} |
        Is Celiac?: {{user.user_profile.is_celiac}} |
        Is Keto?: {{user.user_profile.is_keto}} |
        Is Diabetic?: {{user.user_profile.is_diabetic}} |
        Is lactose?: {{user.user_profile.is_lactose}} |
        Is Glutten?: {{user.user_profile.is_gluten}}
      </div>
      <div *ngIf="user.user_profile == null">
        <a [routerLink]="[user.id, 'user-profile', 'add']">Create profile</a>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Options </th>
    <td mat-cell *matCellDef="let user"> Update | Delete </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
