<a [routerLink]="['/users', userId, 'houses', houseId, 'residents']">Back</a>
<form [formGroup]="houseResidentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="lastname">
      Lastname
    </label>
    <input id="lastname" type="text" formControlName="lastname">
  </div>
  <div>
    <label for="date_of_birth">
      Date of birth
    </label>
    <input id="date_of_birth" type="date" formControlName="date_of_birth">
  </div>
  <div>
    <app-nutritional-profile></app-nutritional-profile>
  </div>
  <div>
    <button matButton="elevated" type="submit">Create</button>
  </div>
</form>

